@import url("https://fonts.googleapis.com/css?family=Open+Sans");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu'; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header a {
  text-decoration: none;
  color: white; }
  header a:visited, header a:hover, header a:focus {
    color: white;
    text-decoration: none; }

li {
  list-style-type: none; }

ul {
  margin-bottom: 0; }

header * {
  box-sizing: border-box; }

.row {
  margin-left: 0;
  margin-right: 0; }

.navbar {
  position: relative;
  background-color: #07082b;
  padding: 10px 20px 10px 30px;
  margin: 0; }

.home {
  height: 72px;
  float: left;
  position: relative;
  padding-right: 20px; }
  .home img {
    height: 90%;
    position: absolute;
    top: 5%;
    left: 0;
    display: block; }
    .home img:hover span {
      display: inline-block; }
  .home span {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    line-height: 72px;
    padding: 30px 10px;
    width: 150px;
    color: #b3b3b3;
    font-size: 20px; }
    .home span i {
      margin-left: 0.5em; }
    .home span:hover img {
      display: none; }
  .home:hover img {
    display: none; }
  .home:hover span {
    display: inline-block; }

.dropdown {
  position: absolute;
  top: 100%;
  width: 100vw;
  padding: 20px;
  background-color: #d3d3d3;
  color: #07082b;
  font-size: 20px;
  display: none; }
  .dropdown .submenu {
    padding-right: 50px; }
    .dropdown .submenu hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1.5px solid black;
      width: 80%; }
  .dropdown .dropdown-title {
    font-size: 24px; }
  .dropdown li > a {
    color: #07082b; }
    .dropdown li > a:hover {
      color: #365285; }

ul.menu {
  float: left;
  padding-left: 150px; }

.menu > li {
  float: left; }

.menu > li > a {
  line-height: 72px;
  padding: 36px 16px;
  margin-right: 5px;
  position: relative;
  font-size: 20px; }
  .menu > li > a i {
    padding-left: 0.5em; }
  .menu > li > a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 5px;
    background-color: #b3b3b3;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s; }

.menu > li:hover > a:after {
  width: 100%; }
.menu > li:hover > a {
  color: #b3b3b3; }

.menu .dropdown {
  left: 0px;
  width: 100vw; }
  .menu .dropdown .col-sm-3 {
    padding-left: 20px;
    padding-right: 20px; }

.menu > li:hover .dropdown {
  display: flex; }

.hamburger {
  float: right; }

#ham-icon {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 28px;
  cursor: pointer; }
  #ham-icon .fa-times {
    display: none; }

#hamburger.dropdown {
  right: 0; }
  #hamburger.dropdown .col-sm-2 {
    padding-left: 10px;
    padding-right: 10px; }
  #hamburger.dropdown hr {
    width: 90%; }

.u-block {
  display: block; }

.u-cf:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.imgBox {
  position: relative;
  overflow: hidden; }
  .imgBox .imgBox-inner {
    width: 100%;
    padding-top: 75%;
    height: 0; }
    .imgBox .imgBox-inner .image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
  .imgBox .img-4-5 {
    padding-top: 80%; }

.main-container {
  width: 100%;
  padding: 50px 15%;
  background-color: #d3d3d3;
  min-height: 100vh; }

.main-content {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  padding: 80px 50px;
  min-height: 100vh; }

.text-area {
  margin-bottom: 80px; }
  .text-area h1 {
    text-align: center; }
  .text-area p {
    font-weight: 500; }

.pdfbtn {
  width: 100%;
  margin: 20px 0 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #556b7e;
  color: white;
  display: block;
  position: relative; }
  .pdfbtn i {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%); }

.pdf-container {
  width: 100%;
  text-align: center;
  height: 90vh;
  display: none; }

/*# sourceMappingURL=style.css.map */
