@import url("https://fonts.googleapis.com/css?family=Open+Sans");
@import url("https://fonts.googleapis.com/css?family=Arizonia");
body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Ubuntu' !important; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header a {
  text-decoration: none;
  color: white; }
  header a:visited, header a:hover, header a:focus {
    color: white;
    text-decoration: none; }

ul {
  margin-bottom: 0; }

header {
  z-index: 99; }
  header * {
    box-sizing: border-box; }
  header li {
    list-style-type: none; }

.row {
  margin-left: 0;
  margin-right: 0; }

.navbar {
  position: relative;
  background-color: #07082b;
  padding: 10px 20px 10px 30px;
  margin: 0; }

.home {
  height: 72px;
  float: left;
  position: relative;
  padding-right: 20px; }
  .home img {
    height: 90%;
    position: absolute;
    top: 5%;
    left: 0;
    display: block; }
    .home img:hover span {
      display: inline-block; }
  .home span {
    display: none;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    line-height: 72px;
    padding: 30px 10px;
    width: 150px;
    color: #b3b3b3;
    font-size: 18px; }
    .home span i {
      margin-left: 0.5em; }
    .home span:hover img {
      display: none; }
  .home:hover img {
    display: none; }
  .home:hover span {
    display: inline-block; }

.dropdown {
  position: absolute;
  top: 100%;
  width: 100vw;
  padding: 30px;
  background-color: #d3d3d3;
  color: #07082b;
  font-size: 18px;
  display: none; }
  .dropdown .submenu {
    padding-right: 50px; }
    .dropdown .submenu hr {
      margin-top: 1rem;
      margin-bottom: 1rem;
      border: 0;
      border-top: 1.5px solid black;
      width: 80%; }
  .dropdown .dropdown-title {
    font-size: 22px; }
  .dropdown li > a {
    color: #07082b; }
    .dropdown li > a:hover {
      color: #365285; }
  .dropdown li {
    list-style-type: none; }
    .dropdown li:hover:not(.dropdown-title) {
      list-style-type: circle; }

ul.menu {
  float: left;
  padding-left: 150px; }

.menu > li {
  float: left; }

.menu > li > a {
  line-height: 72px;
  padding: 36px 16px;
  margin-right: 5px;
  position: relative;
  font-size: 18px; }
  .menu > li > a i {
    padding-left: 0.5em; }
  .menu > li > a:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 5px;
    background-color: #b3b3b3;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    transition: all 0.3s; }

.menu > li:hover > a:after {
  width: 100%; }
.menu > li:hover > a {
  color: #b3b3b3; }

.menu .dropdown {
  left: 0px;
  width: 100vw; }
  .menu .dropdown .col-sm-3 {
    padding-left: 20px;
    padding-right: 20px; }

.menu > li:hover .dropdown {
  display: flex; }

.hamburger {
  float: right; }

#ham-icon {
  position: absolute;
  right: 50px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 28px;
  cursor: pointer; }
  #ham-icon .fa-times {
    display: none; }

#hamburger.dropdown {
  right: 0; }
  #hamburger.dropdown .col-sm-2 {
    padding-left: 10px;
    padding-right: 10px; }
  #hamburger.dropdown hr {
    width: 90%; }

.path-btns {
  position: fixed;
  width: 250px;
  top: 200px;
  left: 225px; }
  .path-btns .path-dot {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: absolute;
    background-color: transparent;
    top: 5px;
    left: 27px;
    border: 5px solid #385e66;
    cursor: pointer; }
    .path-btns .path-dot.active {
      background-color: #385e66; }
    .path-btns .path-dot:hover {
      transition: all .3s;
      transform: scale(1.2); }

.path {
  height: 65px;
  display: flex; }
  .path .pathSvg {
    display: block; }
  .path .pathWord {
    padding-right: 10%; }
    .path .pathWord p {
      font-weight: 700;
      text-align: left;
      font-size: 16px;
      color: #385e66; }
  .path .path-word-sm {
    font-size: 12px; }
  .path .path-btn {
    cursor: pointer;
    fill: #fff; }
    .path .path-btn.path-active {
      fill: #385e66; }

.path-tags {
  position: fixed;
  left: 20%;
  top: 200px; }

.path-tags ul {
  color: #006837;
  list-style: none;
  font-size: 16px; }

.path-tags li {
  cursor: pointer; }

.path-tags span {
  color: #fff;
  position: relative;
  top: -8px;
  left: 10px;
  z-index: 1;
  font-size: 20px; }

.hp-img-block {
  position: relative;
  height: 550px;
  overflow: hidden; }

.hp-img-block.r-border {
  border-right: 2px dashed #603813; }

.hp-img-block.b-border {
  border-bottom: 2px dashed #603813; }

.hp-img-block span {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #fadd3a;
  padding: 1px 10px;
  border-radius: 5px;
  margin-left: 20px;
  cursor: pointer; }

.hp-img-block a,
.hp-img-block a:visited,
.hp-img-block a:hover,
.hp-img-block a:focus {
  text-decoration: none;
  color: #000; }

.bg-container {
  overflow: hidden;
  position: relative;
  max-height: 200vh; }
  .bg-container > img {
    width: 100%;
    margin-top: -45px; }

.my-main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 7%;
  min-height: 200vh;
  overflow: hidden; }

.main-content {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  padding: 50px;
  min-height: 180vh;
  z-index: 10; }

.text-area {
  margin-bottom: 80px; }
  .text-area h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Arizonia' !important;
    text-align: center;
    margin-bottom: 1rem; }
  .text-area h2 {
    font-size: 36px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 1rem; }
  .text-area p {
    font-size: 22px;
    font-weight: 500; }

.m-text-area {
  padding-left: 225px; }
  .m-text-area h2 {
    text-align: center;
    margin-bottom: 2rem !important;
    margin-top: 2rem;
    color: black !important; }

.m-block img {
  width: 100%; }

.pdfbtn {
  width: 100%;
  margin: 20px 0 10px 0;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #556b7e;
  color: white;
  display: block;
  position: relative; }
  .pdfbtn i {
    position: absolute;
    right: 50px;
    top: 50%;
    transform: translateY(-50%); }

.brown-btn {
  background-color: #603813; }

.hp-title {
  position: relative;
  top: 20px;
  text-align: center;
  font-size: 60px;
  font-weight: 700;
  font-family: 'Arizonia' !important;
  margin-bottom: 1rem; }

.hp-bg-container {
  overflow: hidden;
  position: relative;
  max-height: 200vh;
  background-color: #fdf8e3; }
  .hp-bg-container > img {
    width: 100%;
    margin-top: -45px; }

.hp-main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 50px 7%;
  min-height: 200vh;
  overflow: hidden; }

.hp-main-content {
  background-color: white;
  width: 80%;
  margin-left: 10%;
  padding: 50px;
  margin-top: 600px;
  min-height: 300vh;
  z-index: 10; }

.img-container {
  width: 100%;
  text-align: center;
  display: none; }
  .img-container img {
    width: 100%; }

.pdf-container {
  width: 100%;
  text-align: center;
  height: 90vh;
  display: none; }

.ul-container {
  width: 100%;
  text-align: center;
  height: auto;
  display: none; }

.ul-container ul.medal li {
  list-style: none; }
  .ul-container ul.medal li:before {
    content: '';
    display: inline-block;
    height: 1em;
    width: 2em;
    background-size: 1em;
    background-image: url(../img/circle.png);
    background-repeat: no-repeat; }

.ul-container ul {
  text-align: left;
  padding: 20px 50px;
  margin-top: -20px;
  margin-left: 0;
  border: #556b7e solid 2px;
  font-size: 22px; }
  .ul-container ul.ul-brown {
    border: #603813 solid 2px; }
  .ul-container ul li {
    padding: 10px;
    list-style: disc; }
    .ul-container ul li a {
      text-decoration: none;
      color: #000; }
      .ul-container ul li a:visited, .ul-container ul li a:hover, .ul-container ul li a:focus {
        color: #000;
        text-decoration: none; }
    .ul-container ul li span {
      background-color: #fadd3a;
      padding: 1px 10px;
      border-radius: 5px;
      margin-left: 20px;
      cursor: pointer; }
    .ul-container ul li i {
      padding-left: 10px; }

.top {
  position: fixed;
  right: 50px;
  bottom: 50px;
  height: 50px;
  width: 50px;
  cursor: pointer; }
  .top img {
    width: 100%; }

#HQ_page .text-area p {
  font-size: 22px;
  font-family: 'Ubuntu';
  font-weight: 500; }

h2, h3, h4, h5, h6, p {
  color: #000;
  font-family: 'Ubuntu'; }

#home-img {
  width: 100%;
  height: 100vh;
  position: relative;
  z-index: 10;
  background-image: url("../img/home-img.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; }

#home-cover {
  padding: 0 10%; }

.u-block {
  display: block; }

.u-cf:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden; }

.imgBox {
  position: relative;
  overflow: hidden; }
  .imgBox .imgBox-inner {
    width: 100%;
    padding-top: 75%;
    height: 0; }
    .imgBox .imgBox-inner .image {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center; }
  .imgBox .img-4-5 {
    padding-top: 80%; }

img.center {
  display: block;
  margin: 0 auto; }

h2, h3, h4, h5, h6, p {
  color: #000;
  font-family: 'Ubuntu'; }

h2 {
  font-size: 24px; }

/*# sourceMappingURL=style.css.map */
