  #home_logo, #sideMenu { display:none; }
  #sideMenu, #top_title, .patrollink  {display:none;}

  .navbar-collapse, .navbar-nav {
    width:100%;
    margin-left:-20px !important;
   }
  .list-arrow {
    padding-right:4px;
    position:relative;
   }

  .list-arrow::after {
    content: '';
    border-right: 2px solid #ccc;
    border-top: 2px solid #ccc;
    display: inline-block;
    height: 8px;
    margin: -4px 0 0;
    position: absolute;
    right: 10px;
    top: 50%;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    width: 8px;
   }



  aside {
    float:left;
    height:700px;
    margin-left:20px;
  }

  article {
    margin-left:125px;
   }

  .box-example1 {
    background:#ffe666;
    background-image: -webkit-linear-gradient(top, #ffe666, rgba(255,154,102,.8));
    margin:8px;
    font-size:20px;
    position:relative;
   }

  .mask {
    position:fixed;
   }

  .box-square-basic {
    height:35px;
    width:100px;
   }

  .border-radius-round1  {
    border-radius:4px;
    padding-bottom:5px;
    padding-left:5px;
   }
  li {
    text-decoration: none;
  }
  .navbar-brand{
    position: relative;
    top: -6px;
  }
  #header{
    width:100%;
    position:fixed;
  }
